<h1>スケジュール一覧</h1>

<table>
  <th>日付</th>
  <th><%= Date.today.to_s(:datetime_jp) %></th>
</table>
<table>
  <th>登録数</th>
  <th><%= Schedule.count %></th>
</table>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>タイトル</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>終日</th>
      <th>更新日</th>
      <th>参照</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.id %></td>
        <td><%= schedule.title %></td>
        <td><%= schedule.start_day.to_s(:datetime_jp) %></td>
        <td><%= schedule.end_day.to_s(:datetime_jp)  %></td>
        <td><% if schedule.allday == true %>
          <p>○</p>
        <% else %>
          <p></p>
        <% end %>
        </td>
        <td><%= schedule.updated_at.to_s(:updatetime) %></td>
        <td><%= link_to "参照",schedule %>
        <td><%= link_to "編集",[:edit,schedule] %>
        <td><%= link_to "削除", schedule, method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <th><%= link_to"メモ新規登録",:new_schedule %></th>
</table>